
body {
  font-family: "Inter", sans-serif  !important;
}

footer{
  position: fixed;
  width: 100%;
  bottom:0;
}

.main-green { 
	color: #42b883 !important; 
}
	
.main-orange { 
	color: #ff7e67 !important; 
}

.main-dark2 { 
	color: #347474 !important; 
}

.main-dark { 
	color:  #35495e !important; 
}

.text-gradient1{
  background: -webkit-linear-gradient(#62c49a, #abfdd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2{
  background: -webkit-linear-gradient(#35495e, #347474);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient3{
  background: -webkit-linear-gradient(#ff7961 , #ff9d8c  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}